/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    background-color:#1E2D3B;
}

/* HEADER */
header {
    height: 100px;
    background-color: #2e3a46;
}

header img {
    width: 120px;
    padding: 10px 20px;
} 

/* MAIN */
.albums-card{
    width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
    
}

.album{
    width: 200px;
    background-color: #2E3A46;
    margin: 50px 20px;
}

.album h4{
    font-size: 1.5rem;
}